In [15]:
###############################################
#####    08    Introduction to  Pandas   ######
#####           08_01 Series             ######
##           8.1.7 Mutliindex                ## 
###############################################

In [87]:
# Libraries import
import numpy as np 
import pandas as pd

In [88]:
labels  = ['Student A', 'Student B', 'Student C', 'Student D']

In [89]:
#Ćwiczenie
#Do tabeli przypisanej do zmiennej df dodaj kolumny: e4, e5, e6. Niech wektory 
#tych kolumn odzwierciedlają wyniki z kolejnych egzaminów w drugim semestrze 
#Studentów A, B, C oraz D. Wyniki tych egzaminów niech będą losowane z liczb
#całkowitych o zakresie 1-100 włącznie. Następnie usuń kolumnę semester1. 
#Po wykonaniu tych operacji stwórz indeks hierarchiczny dla kolumn tabeli, 
#tak aby jego najwyższym rzędem było oznaczenie semestru, w którym napisany 
#był dany egzamin.

In [90]:
exam1 = [89,85,93,83]
exam2 = [74,56,44,92]
exam3=[67,59,79,84]
df = pd.DataFrame({'e1':exam1, 'e2':exam2, 'e3':exam3}, index=labels)
df['semester1'] = df['e1']+df['e2']+df['e3']

In [91]:
df['e4'] = np.random.randint(100, size=4,dtype=int)
df['e5'] = np.random.randint(100, size=4,dtype=int)
df['e6'] = np.random.randint(100, size=4,dtype=int)

In [92]:
df.drop('semester1', axis =1, inplace = True)

In [93]:
df

           e1  e2  e3  e4  e5  e6
Student A  89  74  67   0  99  61
Student B  85  56  59  42  66  33
Student C  93  44  79  86  93  56
Student D  83  92  84  74  71  19

In [94]:
micolumns = pd.MultiIndex.from_tuples(
    [("Sem1","e1"),("Sem1","e2"),("Sem1","e3"),("Sem2","e4"),("Sem2","e5"),("Sem2","e6")], names=["Semester","Exam"]
)
micolumns

MultiIndex([('Sem1', 'e1'),
            ('Sem1', 'e2'),
            ('Sem1', 'e3'),
            ('Sem2', 'e4'),
            ('Sem2', 'e5'),
            ('Sem2', 'e6')],
           names=['Semester', 'Exam'])

In [95]:
dfmi = pd.DataFrame(df,columns = micolumns)
print(dfmi)

Semester  Sem1         Sem2
Exam        e1  e2  e3   e4  e5  e6
Student A  NaN NaN NaN  NaN NaN NaN
Student B  NaN NaN NaN  NaN NaN NaN
Student C  NaN NaN NaN  NaN NaN NaN
Student D  NaN NaN NaN  NaN NaN NaN

In [96]:
df.reset_index(inplace = True) # Znalazłem na necie poradę, że w przypadku NaN może pomóc reset indeksu

In [97]:
df.drop('index',axis = 1, inplace = True)

In [98]:
df

   e1  e2  e3  e4  e5  e6
0  89  74  67   0  99  61
1  85  56  59  42  66  33
2  93  44  79  86  93  56
3  83  92  84  74  71  19

In [99]:
dfmi = pd.DataFrame(df,columns = micolumns)
print(dfmi)

Semester Sem1         Sem2
Exam       e1  e2  e3   e4  e5  e6
0         NaN NaN NaN  NaN NaN NaN
1         NaN NaN NaN  NaN NaN NaN
2         NaN NaN NaN  NaN NaN NaN
3         NaN NaN NaN  NaN NaN NaN